* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
}

main{
    min-height: calc(100vh - 113.5px - 182.3px);
}

 /* HEADER */

 header {
    position: relative;
    padding: 0 2rem;
}

/* NAVBAR */

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
     color:whitesmoke;
     font-size: 1rem;
 }

 a:hover{
     color:purple;
 }

 .navbar {
     width: 100%;
     height: auto;
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px 30px 40px;
    
 }

 .navbar .logo a {
     font-size: 4rem;
     font-weight: bold;
     max-height:400px;
 }

 .navbar .links {
     display: flex;
     gap: 6rem;
   
    
 }

 .navbar .toggle_btn {
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
 }

 .action_btn {
     background-color: purple;
     color: whitesmoke;
     padding: 0.5rem 1rem;
     border: none;
     outline: none;
     border-radius: 20px;
     font-size: 0.8rem;
     font-weight: bold;
     cursor: pointer;
     transition: scale 0.2 ease;
 }

 .action_btn:hover {
     scale: 1.05;
     color: white;
 }

 .action_btn:active {
     scale: 0.95;
 }

 /* DROPDOWN MENU */

 .dropdown_menu {
     display: none;
     position: absolute;
     right: 2rem;
     top: 60px;
     width: 150px;
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(15px);
     border-radius: 10px;
     overflow: hidden;
     transition: height 1s;
     z-index: 100;
 }

 .dropdown_menu.open {
     height: 240px;
}

 .dropdown_menu li {
     padding: 0.7rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .dropdown_menu .action_btn {
     width: 100%;
     display: flex;
     justify-content: center;
 }
 
 /* RESPONSIVE DESIGN */

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

.navbar .toggle_btn {
    display: block;
    position: relative;
    z-index: 100;
}

.dropdown_menu {
    display: block;
    height: 0px;
 }
}
@media (max-width:576px){
    .slider-frame
     {width:100%;
    }
}

/* HOME */

h1 {
    margin-top: 50px;
    margin-left: 510px;
    font-size: 60px;
    font-weight: lighter;
}

.slider-frame {
    overflow: hidden;
    height: 800px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;

}

@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40% {left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100% {left: 0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

/* MENU PAGE */

div.center {
    text-align: center;
  }

video{
    /* position: relative;  */
    margin-top: -2%; 
    width: 800px;
    height: 1200px;
}

.aboutus {
    /* position: relative; */
    margin-top: 0%;
    width: 800px;
    height: 1200px;
}

/* CONTACT */

   .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 100%;
    background: black;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(203, 164, 254); 
  }
  
  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: whitesmoke;
  }
  
  .wrapper .input_field{
    margin-bottom: 10px;
  }
  
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
  }
  
  .wrapper textarea{
    resize: none;
    height: 80px;
  }
  
  .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #750cfe;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  
  #error_message{
    margin-bottom: 20px;
    background: pur;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    color: whitesmoke;
  } 

  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1200px;
    height: 800px;
    background-image: url("images/cocktailbar.jpeg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    filter: brightness(85%); 

    /* Set a specific height */
    height: 100%; 
  
    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  } 

/* .hero-content {
    position: relative;
} */

@media (max-width:767px){
    .wrapper
     {margin-top:100px;

     }
    }

    /* CUSTOMER REVIEWS */
 

h2{
    color: whitesmoke; 
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
     
     }
    
.column {
    /* float: left; */
    width: 25%;
    padding: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
      }

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* FOOTER */

h3{
 color: whitesmoke;
 font-size: 10px;
}

.footer{
    padding: 40px 0;
    background-color: black;
    /* position: absolute; */
    bottom: 0;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: whitesmoke;
   
}

footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid whitesmoke !important;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    /* color: inherit; */
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.copyright{
    text-align: center;
}